<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Nombre</Data></Cell>
        <Cell><Data ss:Type="String">Apellidos</Data></Cell>
        <Cell><Data ss:Type="String">Edad</Data></Cell>
        <Cell><Data ss:Type="String">Dirección</Data></Cell>
        <Cell><Data ss:Type="String">Teléfono</Data></Cell>
        <Cell><Data ss:Type="String">Correo</Data></Cell>
        <Cell><Data ss:Type="String">Programa</Data></Cell>
      </Row>
    <% @solicituds.each do |product| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= product.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.ap %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= product.edad %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.direccion %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.telefono %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.programa %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>